/* player styles */
#player-container {
    display:flex;
    background-color: #121212;
    border-radius: 25px;
    width:33%;
    height:20vh;
    min-width: 600px;
    min-height: 200px;
    margin: 10px;
}

#player-controls {
    display:flex;
    flex-direction: row;
}

#song-info-container {
    color:#FFFFFF;
}

#song-name {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    margin: 20px 0px 0px 0px;
}

#song-artist {
    color:#A7A7A7;
    font-size: small;
    margin:0px 0px 10px 0px;
}

#album-cover-image {
    width: auto;
    height: 200px;
    padding: 3%;
    aspect-ratio: 1 / 1;
}

/* Song List styles */
.song-list-box {
    width: 100%;
    border-radius: 15px;
    align-items: center;
}

.song-list-box:hover {
    background-color: #232323;
}

.song-list-index {
    color:#A7A7A7;
    margin-left: 15px;
}

.song-list-icon {
    width:auto;
    aspect-ratio: 1 / 1;
    height:30px;
    margin: 0px 10px 0px 30px
}

.song-list-name {
    font-size:small;
    margin: 0px;
}

.song-list-artist {
    font-size: smaller;
    color: #A7A7A7;
    margin:0px;
}